@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta charset="utf-8">
    <title>电子联盟自由职业</title>
    <link href="@Url.Content("~/gxfreelance/statics/css/ectouch.css")" rel="stylesheet" />
    <link href="@Url.Content("~/weui-master/dist/style/weui.css")" rel="stylesheet" />
    <link href="@Url.Content("~/weui-master/dist/style/weui.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/weui-master/dist/example/example.css")" rel="stylesheet" />
    <link href="@Url.Content("~/gxfreelance/statics/css/swiper.min.css")" rel="stylesheet" />

    <link href="@Url.Content("~/gxfreelance/statics/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/gxfreelance/statics/css/member.css")" rel="stylesheet" />
    @*<link href="@Url.Content("~/gxfreelance/loadmore/dropload.css")" rel="stylesheet" />*@
    <link href="@Url.Content("~/gxfreelance/statics/css/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/gxfreelance/statics/css/user.css")" rel="stylesheet" />

    <script src="@Url.Content("~/gxfreelance/statics/js/swiper.min.js")"></script>
    <script src="@Url.Content("~/gxfreelance/statics/js/ectouch.js")"></script>
    <script src="@Url.Content("~/gxfreelance/statics/js/jquery.json.js")"></script>
    <script src="@Url.Content("~/gxfreelance/statics/js/utils.js")"></script>
    <script src="@Url.Content("~/gxfreelance/statics/js/jquery-ui-1.10.1.custom.min.js")"></script>
    <script src="@Url.Content("~/gxfreelance/statics/js/jquery.scrollUp.min.js")"></script>
    <script src="@Url.Content("~/gxfreelance/statics/js/simple-inheritance.min.js")"></script>
    <script src="@Url.Content("~/gxfreelance/statics/js/code-photoswipe-1.0.11.min.js")"></script>
    <script src="@Url.Content("~/gxfreelance/statics/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/gxfreelance/statics/js/validform.js")"></script>
    <script type="text/javascript">var rootUrl = "@Url.Content("~")";//获取根路径，防止iis部署位置不同</script>
    @*<script src="@Url.Content("~/Scripts/PersonSort/PersonSort.js")"></script>*@
</head>
<body style="max-width:640px;">
    @*<div id="loading">
            <img src="~/gxfreelance/statics/img/loading.gif" />
        </div>*@
    @*<div class="con m-b7 new-maxbox">
        <div class="con">
            <div class="category-top">
                <header>
                    <section class="search">
                        <div class="text-all  text-all-back j-text-all">
                            <div class="input-text n-input-text i-search-input">
                                <a class="a-search-input j-search-input" href="javascript:void(0)"></a>
                                <i class="iconfont icon-sousuo"></i>
                                <input type="text" placeholder="请输入您搜索的关键词!" />
                                <i class="iconfont icon-guanbi is-null j-is-null"></i>
                            </div>
                        </div>
                    </section>
                </header>
            </div>
            <aside>
                <div class="menu-left scrollbar-none" id="sidebar">
                    <ul>
                        <li class="active">体系工程师</li>
                        <li>软件工程师</li>
                        <li>工艺工程师</li>
                        <li>其他</li>
                    </ul>
                </div>
            </aside>
            <section class="menu-right padding-all j-content">
                <h5>体系工程师</h5>
                <ul class="fb-list">
                    <a href="@Url.Action("GxFreelanceWxExample", "home")">
                        <li style="height:70px">
                            <img src="@Url.Content("~/gxfreelance/statics/img/1111111111.png")" style="float:left;height:80px;width:auto">
                            <div class="middle" style="width:41%;">
                                <h4>李经纬</h4>
                                <p style="font-size:15px;margin-left:10px;margin-top:-0.5em">编号：117110022223</p>
                            </div>
                        </li>
                    </a>
                </ul>
            </section>
            <section class="menu-right padding-all j-content" style="display:none">
                <h5>软件工程师</h5>
                <ul class="fb-list">
                    <a href="@Url.Action("GxFreelanceWxExample", "home")">
                        <li style="height:70px">
                            <img src="@Url.Content("~/gxfreelance/statics/img/2222222222.png")" style="float:left;height:80px;width:auto">
                            <div class="middle" style="width:41%;">
                                <h4>彭伟峰</h4>
                                <p style="font-size:15px;margin-left:10px;margin-top:-0.5em">编号：117110022224</p>
                            </div>
                        </li>
                    </a>
                </ul>
            </section>
            <section class="menu-right padding-all j-content" style="display:none">
                <h5>工艺工程师</h5>
                <ul class="fb-list">
                    <a href="@Url.Action("GxFreelanceWxExample", "home")">
                        <li style="height:70px">
                            <img src="@Url.Content("~/gxfreelance/statics/img/3333333333.png")" style="float:left;height:80px;width:auto">
                            <div class="middle" style="width:41%;">
                                <h4>王曦晨</h4>
                                <p style="font-size:15px;margin-left:10px;margin-top:-0.5em">编号：117110022225</p>
                            </div>
                        </li>
                    </a>
                </ul>
            </section>
            <section class="menu-right padding-all j-content" style="display:none">
                <h5>其他</h5>
                <ul class="fb-list"></ul>
            </section>
        </div>
    </div>*@
    @*<div>
        <p style="text-align:center">自由职业</p>
    </div>*@
    <div class="con m-b7 new-maxbox">
        @*<div style="width: 100%;left: 0rem;right: 0rem;top: 0rem;height: 3.2rem;position: fixed;display: block;background: #FFFFFF;">
                <span style="float:right;margin-right:1rem"><button id="describe" style="border:1px solid #1AAD19 ; background-color:#f6f6f9;font-size:12px;width:60px;height:2rem;border-radius: 5px;">相关说明</button></span>

            </div>
            <div class="category-top">

                <header>

                    <section class="search">

                        <div class="text-all  text-all-back j-text-all">
                            <div class="input-text n-input-text i-search-input">

                                <a class="a-search-input j-search-input" href="javascript:void(0)"></a>
                                <i class="iconfont icon-sousuo"></i>
                                <input type="text" placeholder="请输入您搜索的关键词!" />

                                <i class="iconfont icon-guanbi is-null j-is-null"></i>

                            </div>

                        </div>
                    </section>

                </header>
            </div>*@
    
        <div class="index-banner swiper-container box position-rel banner-first">
            <div class="swiper-wrapper">

                <div class="swiper-slide" swiper-slide-active style="width:640px;">
                    <a target='_blank'>
                        <img src="@Url.Content("~/gxfreelance/statics/img/lunbo_1.jpg")" style="height:231px" border="0" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a target='_blank'>
                        <img src="@Url.Content("~/gxfreelance/statics/img/lunbo_2.jpg")" style="height:231px" border="0" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a target='_blank'>
                        <img src="@Url.Content("~/gxfreelance/statics/img/lunbo_3.jpg")" style="height:231px" border="0" />
                    </a>
                </div>
            </div>
            <div class="swiper-pagination banner-first-pagination"></div>
            <div class="linear"></div>
        </div>
        <div class="main">
            <div class="tao-title">
                <div class="tao" id="is_style">职业类型</div>
            </div>
            <ul class="tao-title-list" id="is_styleList" style="display:none;">
                <li id="-1" class="is_stylelist" value="全部">全部</li>
                <li id="1" class="is_stylelist" value="体系工程师">体系工程师</li>
                <li id="2" class="is_stylelist" value="硬件工程师">硬件工程师</li>
                <li id="3" class="is_stylelist" value="pcb工程师">pcb工程师</li>
                <li id="4" class="is_stylelist" value="结构工程师">结构工程师</li>
                <li id="8" class="is_stylelist" value="其他">其他</li>
            </ul>
        </div>

        <div class="ect-pro-list example-list" style="border-bottom:none">
            <ul id="showgoods">
                <div class="weui-cells__title">自由职业</div>
                <div class="weui-cells">
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd">
                            <p>cell standard</p>
                        </div>
                        <div class="weui-cell__ft">说明文字</div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd">
                            <p>cell standard</p>
                        </div>
                        <div class="weui-cell__ft">说明文字</div>
                    </a>

                </div>

            </ul>
        </div>
        <footer class="footer-nav dis-box">
            <div class="weui-tabbar">
                <a href="@Url.Action("GxFreelanceWxClassification","Home")" class="weui-tabbar__item">
                    <img src="@Url.Content("~/gxfreelance/images/nav/nav1.png")" alt="" class="weui-tabbar__icon">
                    <p class="weui-tabbar__label">分类</p>
                </a>
                <a href="@Url.Action("GxFreelanceWxLogin","Home")" class="weui-tabbar__item">
                    <img src="@Url.Content("~/gxfreelance/images/nav/nav2.png")" alt="" class="weui-tabbar__icon">
                    <p class="weui-tabbar__label">注册</p>
                </a>
            </div>
        </footer>
    @*<div class="search-div ts-3">
        <section class="search">
            <form action="/v2/index.php?m=default&c=category&a=index&u=0" method="post">
                <div class="text-all dis-box j-text-all">
                    <a class="a-icon-back j-close-search" href="javascript:history.go(-1)"><i class="iconfont icon-jiantou is-left-font"></i></a>
                    <div class="box-flex input-text">
                        <input class="j-input-text" type="text" name="name" placeholder="请输入搜索关键词！" id="newinput" autofocus="autofocus" /> >
                        <i class="iconfont icon-guanbi2 is-null j-is-null"></i>
                    </div>
                    <button type="submit" class="btn-submit">搜索</button>
                </div>
            </form>
        </section>
        <section class="search-con">
            <div class="swiper-scroll history-search">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <p>
                            <label class="fl">热门搜索</label>
                        </p>
                        <ul class="hot-search a-text-more">
                            <li class="w-3"><a href="/v2/index.php?m=default&c=category&a=index&keywords=%E7%BE%8E%E5%9B%BD&u=0"><span>美国</span></a></li>
                            <li class="w-3"><a href="/v2/index.php?m=default&c=category&a=index&keywords=%E6%96%B0%E7%94%9F%E5%A9%B4%E5%84%BF&u=0"><span>新生婴儿</span></a></li>
                        </ul>
                        <p class="hos-search">
                            <label class="fl">最近搜索</label>
                            <span class="fr" onclick="javascript:clearHistroy();"><i class="iconfont icon-xiao10 is-xiao10 jian-top fr"></i></span>
                        </p>

                        <ul class="hot-search a-text-more a-text-one" id="search_histroy"></ul>
                    </div>
                </div>
                <div class="swiper-scrollbar"></div>
            </div>
        </section>
        <footer class="close-search j-close-search">
            点击关闭
        </footer>
    </div>*@
    <script type="text/javascript">
            //设置cookie
            function setCookie(cname, cvalue, exdays) {
                var d = new Date();
                d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                var expires = "expires=" + d.toUTCString();
                document.cookie = cname + "=" + cvalue + "; " + expires;
            }
            function clearHistroy() {
                setCookie('ECS[keywords]', '', -1);
                document.getElementById("search_histroy").style.visibility = "hidden";
            }
    </script>
    <script src="@Url.Content("~/gxfreelance/statics/js/jquery-2.1.4.min.js")"></script>
    <script src="@Url.Content("~/gxfreelance/statics/js/swiper.min.js")"></script>
    <script src="@Url.Content("~/gxfreelance/statics/js/ectouch.js")"></script>
    <script src="@Url.Content("~/gxfreelance/statics/js/jquery.json.js")"></script>
    <script src="@Url.Content("~/gxfreelance/statics/js/jquery-ui-1.10.1.custom.min.js")"></script>
    <script src="@Url.Content("~/gxfreelance/statics/js/jquery.scrollUp.min.js")"></script>
    <script src="@Url.Content("~/gxfreelance/statics/js/jquery.lazyload.min.js")"></script>
    <script src="@Url.Content("~/gxfreelance/statics/js/common.js")"></script>
    @*<script type="text/javascript" src="/v2/themes/default/statics/js/jquery.ui.touch-punch.min.js"></script>*@


    <script type="text/javascript">
            $(function ($) {
                $('#sidebar ul li').click(function () {
                    $(this).addClass('active').siblings('li').removeClass('active');
                    var index = $(this).index();
                    $('.j-content').eq(index).show().siblings('.j-content').hide();
                    $(window).scrollTop(0);
                })
            })

            function redirect_list(id) {
                localData.remove('cat_' + id + '_page');
                localData.remove('cat_' + id + '_page_min');
                localData.remove('cat_' + id + '_page_max');
                window.location.href = 'index.php?c=category&id=' + id;
            }
    </script>
    <style>
        .fb-list {
            width: 100%;
            float: left;
        }

            .fb-list li {
                width: 100%;
                height: 50px;
                line-height: 50px;
                border-bottom: 1px solid #ccc;
                padding-bottom: 10px;
                padding-top: 10px;
            }

            .fb-list .tb {
                height: 50px;
                float: left;
                margin-left: 10px;
                margin-right: 10px;
            }

            .fb-list .middle h2 {
                font-size: 15px;
                font-weight: normal;
                width: 100%;
                float: left;
                height: 25px;
                line-height: 25px;
                text-align: left;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .fb-list .middle p {
                width: 200px;
                height: 25px;
                line-height: 35px;
                float: left;
                text-align: left;
                color: #999;
                font-size: 12px;
            }

            .fb-list .rightarrows {
                float: right;
            }

            .fb-list .middle {
                float: left;
                width: 48%;
                height: 50px;
            }

            .fb-list .right {
                width: 30%;
                float: right;
                text-align: right;
            }

                .fb-list .right h2 {
                    color: #ff0000;
                    font-weight: normal;
                    font-size: 14px;
                    font-weight: normal;
                    height: 25px;
                    line-height: 25px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    margin-right: 10px;
                }

                .fb-list .right p {
                    height: 25px;
                    line-height: 5px;
                    text-align: left;
                    color: #999;
                    float: right;
                    font-size: 15px;
                }
                .menu-left {
                    position: fixed;
                    left: 0;
                    top: 9rem;
                    bottom: 0;
                    margin-bottom: 5rem;
                }
                .menu-right {
                    background: #fff;
                    position: inherit;
                    margin-left: 8.6rem;
                    margin-top: 9rem;
                    right: 0;
                    bottom: 0;
                    left: 8.6rem;
                    margin-bottom: 5.6rem;
                }
                .category-top .search {
                    border-bottom: 1px solid #e8e8e8;
                    position: fixed;
                    left: 0;
                    top: 3.2rem;
                    right: 0;
                    z-index: 1;
                    background: #F6F6F9;
                }
    </style>
    <script type="text/javascript">

    //window.onload = function () {
    //    MiddleSortNameInfo();
    //}
    $(document).ready(function () {
        MiddleSortNameInfo("全部");
    })
    $(".is_stylelist").click(function () {
        var is_stylename = $(this).attr('value');
        var instrumentdiv = '';
        $("#J_ItemList").html("");
        MiddleSortNameInfo(is_stylename);
        ///初始化，异步加载中分类的名字信息
   
    })
    function MiddleSortNameInfo(profession) {
        $.ajax({
            type: "POST",
            url: rootUrl + "PersonSort/GetPersonList?&profession=" + profession + "&random=" + Math.floor(Math.random() * (100000 + 1)),
            dataType: "json",
            data: { middlesortname_last: "" },
            async: true,
            success: function (obj) {
                   $("#showgoods").html("");
                   var info = obj.sortinfo;
                   var domli = "";
                    for (var i = 0; i < info.length; i++)
                    {
                        domli += ' <a class="weui-cell weui-cell_access" href="javascript:;"onclick="javascript:person_list(\'' + info[i].SEARCH_ID + '\');">' +
                      ' <div class="weui-cell__bd">' +
                        '<p>' + info[i].USER_ID + '</p>' +
                         ' </div>' +
                       ' <div class="weui-cell__ft">' + info[i].USER_NAME + '</div>' +
                       '</a>'
                    }
                    $("#showgoods").append(domli);
                    //var middleinfo = obj.middlesortinfo;//middleinfo是整个信息
                    //$("#showgoods").html("");
                    //for (var i = 0; i < middleinfo.length; i++) {
                    //    var middle = middleinfo[i];//{parentid:1,parentname:'',info:[{:'',...},{},{}]}
                    //    //var parentid = middle.parentid;middle是一个职业的所有信息
                    //    var profession_name = middle.profession_name;
                    //    var profession_id = middle.profession_id;
                    //    var info = middle.info;//[{:'',.....},{},{}]某个职业单条数据的集合.例如：info[0].USER_NAME，某职业第一条数据的人名

                    //    var domain_name = "http://egov.jinyuc.com";
                    //    var server_imgurl1 = "/gxdzwx/gxdzimages/gxdzwxlogin/personal/chat_head/";
                    //    //var domli = '<ul id="' + profession_id + '" class="showul' + profession_id + '">';
                    //    var domli = '<div class="weui-cells">';
                    //    for (var j = 0; j < info.length; j++) {
                    //        domli += ' <a class="weui-cell weui-cell_access" href="javascript:;"onclick="javascript:person_list(\'' + info[j].SEARCH_ID + '\');">' +
                    //                           ' <div class="weui-cell__bd">' +
                    //                             '<p>' + info[j].USER_ID + '</p>' +
                    //                              ' </div>' +
                    //                            ' <div class="weui-cell__ft">' + info[j].USER_NAME + '</div>' +
                    //                            '</a>'

                    //        //domli += '<li class="w-3" id="' + info[j].USER_ID + '">' +
                    //        //'<a href="javascript:void(0);" onclick="javascript:person_list(\'' + info[j].USER_ID + '\');"></a>' +
                    //        //'<img src="' + domain_name + server_imgurl1 + info[j].CHAT_HEAD + '" style=\"height:80px;width:80px\"/><span style="font-size:12px">' + info[j].USER_NAME + '</span>' +
                    //        //'</li>';

                    //    }
                    //    domli += '</div>';

                    //    $("#showgoods").append(domli);
                    //}
       


            },
            error: function () {
                alert("ajax wrong!");
                $('#loading').hide();
            }
        });
    }
        //$(document).ready(function () {
        //    //   SortNameInfo();

        //    //因为使用ajax动态加载了dom，所以使用普通的click无法绑定click事件，用了$('id').on('click','id',function(){})委托形式
        //    $('#sidebar').on('click', '#sortul li', function () {
        //        $(this).addClass('active').siblings('li').removeClass('active');
        //        var index = $(this).index();
        //        $('.j-content').eq(index).show().siblings('.j-content').hide();
        //        $(window).scrollTop(0);
        //    })

        //});

        //function get_asynclist(url, src) {
        //    SortNameInfo();
        //    MiddleSortNameInfo();
        //    $(window).scroll(function () {
        //        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
        //            //   SortNameInfo();
        //            //取出所有div，并遍历
        //            //  $("div").each(){
        //            //判断每一个div，其css中display是否为block
        //            //     if($(this).css("display")=="block"){
        //            //  alert('您想要的元素');
        //            //    }
        //            //  };
        //        }
        //    });

        //}

        function person_list(search_id) {


            window.location.href = rootUrl + "PersonSort/PersonInfo?search_id=" + search_id + "&random=" + Math.floor(Math.random() * (100000 + 1));
        }
        $("#describe").click(function () {
 
            window.location.href = rootUrl + "Home/specification?&random=" + Math.floor(Math.random() * (100000 + 1));
        })
 
</script>
<script>
    $("#is_style").click(function () {
        $("#is_brands").removeClass('on');
        $("#is_address").removeClass('on');
        $("#is_sx").removeClass('on');
        $(this).addClass('on');
        $("#is_brandsList").hide();
        $("#is_addressList").hide();
        $("#sxBox").hide();
        $("#is_styleList").slideToggle();
    });
</script>
        <script type="text/javascript">
    //轮播图代码
    $(function ($) {
        $('#loading').hide();
        var mySwiper = new Swiper('.banner-first', {
            pagination: '.banner-first-pagination',
            loop: false,
            grabCursor: true,
            paginationClickable: true,
            autoplayDisableOnInteraction: false,
            autoplay: 3000
        });
    });
    /*立即关注*/
    if ($(".index-weixin-box").hasClass("index-weixin-box")) {
        $(".index-banner").css({
            "marginTop": "0rem",

        })
    } else {
        $(".index-banner").css({
            "marginTop": "0rem",

        })
    }
        </script>

    <style>
        .main {
            width: 100%;
            overflow: hidden;
            font-size: 16px;
        }

        .tao-title {
            width: 100%;
            height: 40px;
            line-height: 40px;
            border-bottom: 1px solid #ccc;
        }

        .tao-left {
            width: 25%;
            text-align: center;
            float: left;
        }

        .tao {
            width: 100%;
            text-align: center;
            float: left;
        }

        .tao-right {
            width: 25%;
            text-align: center;
            float: right;
        }

        .tao-title-list {
            width: 100%;
            background: #eee;
            float: left;
            padding-bottom: 10px;
            display: none;
        }

            .tao-title-list li {
                width: 28%;
                margin-left: 4%;
                float: left;
                background: #fff;
                margin-top: 10px;
                text-align: center;
                height: 40px;
                line-height: 40px;
            }

        .main .on {
            border-bottom: 1px solid #0978cd;
        }
    </style>
    <style>
        * {
            margin: 0;
            padding: 0;
            list-style: none;
            font-weight: normal;
        }

        .falb-sx-title {
            width: 100%;
            height: 30px;
            line-height: 30px;
            text-align: left;
            text-indent: 10px;
            font-size: 14px;
            background: #eee;
        }

            .falb-sx-title span {
                float: right;
                margin-right: 5px;
            }

                .falb-sx-title span img {
                    height: 25px;
                }

        .falb-sx {
            float: left;
            background: #eee;
            width: 100%;
            display: none;
        }

            .falb-sx ul {
                width: 100%;
                float: left;
                border-bottom: 1px solid #ccc;
            }

                .falb-sx ul li {
                    width: 22%;
                    float: left;
                    margin-left: 10px;
                    height: 40px;
                    background: #ffffff;
                    margin-bottom: 10px;
                    line-height: 40px;
                    text-align: center;
                }

            .falb-sx .sx-list {
                height: 50px;
                overflow: hidden;
            }

            .falb-sx .xz {
                -webkit-transform: rotate(180deg); /*Safari 4+,Google Chrome 1+ */
                -moz-transform: rotate(180deg); /*Firefox 3.5+*/
                filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); /*ie*/
            }

            .falb-sx .right {
                width: 30%;
                background: #ccc;
                height: 50px;
                float: left;
                color: #fff;
                line-height: 50px;
                text-align: center;
            }

            .falb-sx .left {
                width: 70%;
                background: #13AB53;
                color: #fff;
                height: 50px;
                line-height: 50px;
                float: left;
                text-align: center;
            }

            .falb-sx ul .on {
                background: #13AB53;
                color: #fff;
            }
            .index-banner {
    margin-top: 0rem;
}
    </style>
    <style>
        .hblank10 {
            width: 100%;
            height: 10px;
            background: #eee;
            clear: both;
        }

        .photo {
            height: auto;
            width: 150px;
            margin-left: 70px;
        }
    </style>
</body>
</html>